{
  "extends": ["taro/react"],
  "plugins": ["simple-import-sort"],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/no-shadow": "off",
    "import/first": "off",
    "import/no-commonjs": "warn",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error"
  }
}
